
<mat-grid-list cols="3" rowHeight="3:1" gutterSize="0px">
<!--Espace du haut : header + navbar -->
  <mat-grid-tile colspan="3">
    <mat-toolbar>
      <span>
        <ng-template mat-tab-label>
          <img src="src\assets\img\TriviaManiaLogo.jpg" alt="logo de Trivia Mania">
        </ng-template>
      </span>
      <span><a mat-raised-button color="primary" (click)="openDialogLogIn()">Log In</a></span>
      <span><a mat-raised-button color="primary" (click)="openDialogRegister()">Register</a></span>
    </mat-toolbar>
  </mat-grid-tile>
<!--Espace milieu-gauche: ... -->
  <mat-grid-tile rowspan="3">

  </mat-grid-tile>
<!--Espace milieu-droit1 : Bouton play-->
  <mat-grid-tile colspan="2" rowspan="2">
    <button class="play-btn" mat-fab color="accent" fullWidth="true">PLAY GAME</button>
  </mat-grid-tile>
<!--Espace milieu-droit2 : menu -->
  <mat-grid-tile colspan="2">
    <app-menu></app-menu>
  </mat-grid-tile>
<!--Espace milieu-droit2 : menu -->
  <mat-grid-tile class="bot-tile" colspan="3">
    <mat-grid-tile-footer class="footer"></mat-grid-tile-footer>
  </mat-grid-tile>

</mat-grid-list>





