<app-nav></app-nav>

<mat-grid-list cols="3" rowHeight="3:1" gutterSize="0px">
<!--Espace milieu-gauche: menu -->
  <mat-grid-tile rowspan="3">

  </mat-grid-tile>
<!--Espace milieu-droit1 : Bouton play-->
  <mat-grid-tile colspan="2" rowspan="2">
    <button class="play-btn" mat-fab color="accent" fullWidth="true"><em>PLAY GAME</em></button>
  </mat-grid-tile>
<!--Espace milieu-droit2 : menu -->
  <mat-grid-tile colspan="2">
    <app-menu></app-menu>
  </mat-grid-tile>
<!--Espace milieu-droit2 : menu -->
  <mat-grid-tile class="bot-tile" colspan="3">
    <mat-grid-tile-footer class="footer"></mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>





