:host {
    height: 100%; 
    width: 100%; 
}

mat-grid-tile {
    background-color: lightblue;
}

mat-toolbar { background-color: white;}

mat-toolbar div:last-child {
    margin-left: auto;
}

mat-toolbar a {
    margin-left: 5px; 
    
}

.play-btn {
    color:black;
    height: 70%;
    width: 40%;
}

.menu {
    color: white; 
}

.bot-tile {
    height: 30px;
}

.footer {
    height: 30px;
}
 

