<form class="example-form">
    <h1 class="center">TRIVIA MANIA</h1>
    <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
    </mat-form-field>

    <mat-slide-toggle class="full-width" color="primary">
        Remember me!
    </mat-slide-toggle>

    <div class="full-width flex login-btn">
        <button mat-raised-button color="primary">Login</button>
    </div>
</form>