
.login { 
    display: flex;
    padding: 15px;
    justify-content: flex-end;
    background-color: #fff;
    flex: 1;

    button {
        margin-left: 10px
    }
}

.img-logo {
    height: 100%;
    width: 35%;
}

.bg-white {
    background-color: white;
}