
<div class="box1">

</div>

<div class="box2">
    <h3>Trivia Mania</h3>
</div>

<div class="box3">
    <app-triva-button class="account-access" text="Log in" (click)="displayLogIn()"></app-triva-button>
    <app-triva-button class="account-access" text="Register" (click)="displayRegister()"></app-triva-button>
</div>

<div class="box4">
    <app-triva-button text="PLAY GAME"></app-triva-button>
    <p>Trivia is unimportant facts or details that are considered to be amusing rather than serious or useful.</p>
    <app-menu></app-menu>
</div>

<div class="box5">
 
</div>


