.change-color{
    transition: 0.4s all;
  }
  
  .change-color:hover, .change-color:focus, .change-color:active{
    color: #fff;
    background-color:  #e38d13;
    cursor: pointer;
    text-decoration: none;
  }